@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fuzzy+Bubbles&family=Montserrat&family=Montserrat+Alternates&family=Open+Sans&family=Orbitron&family=Poiret+One&family=Square+Peg&display=swap');
body{
    padding: 0;
    margin: 0;
    display: block;
    background-color: #000000;

}
.video{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    background-color: white;
    z-index: 2;

}
#overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); 
    z-index: 100; 
    cursor: pointer; 
}
.navbar{
    display: block;
    position:absolute;
    font-size:50px;
    font-weight: bold;
    color: #ffffff;
    margin-top: -55%;
    margin-left: 40px;
    z-index: 100;
    

}
.tittle{
    color: #ffffff;
    background-color: darkred;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
    
    
}
.list{
    display: block;
    color: #ffffff;
    list-style: none;
    font-size: 20px;
    position: absolute;
    columns: 3;
    column-gap: 40px;
    margin-left: 65%;
    margin-top: -52%;
    font-family: 'Montserrat' ;
    font-weight: bold;
    z-index: 100;
}
.img{
    height: 200vh;
    z-index: 100;
    position: absolute;
    margin-top: -42%;
    margin-left:20% ;
    height: 100vh;
    clip-path: circle(31.2% at 41% 29%);
}
.name-tag{
    position: absolute;
    color: #ffffff;
    z-index: 100;
    font-size: 40px;
    margin-top: -47%;
    font-family: 'Montserrat' ;
    margin-left: 200px;
    font-weight: bolder;
}
.Fahad{
    color:darkred;
}
.passion{
    position: absolute;
    color: #ffffff;
    z-index: 100;
    font-size: 40px;
    margin-top: -43%;
    font-family: 'Montserrat' ;
    margin-left: 200px;
    font-weight: bold;
}
.btn{
  position: absolute;
    margin-top: -25%;
    z-index: 100;
    margin-left: 15%;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid darkred;
    border-radius: 20px;
    font-family: 'Montserrat' ;
    font-weight: bold;
}
.logo{
    position: absolute;
    margin-top: -19%;
    margin-left: 14.2%;
    z-index: 100;
}


.logo1{
    position: absolute;
    z-index: 100;
    margin-top: -18.8%;
    margin-left: 19%;

}
.logo3{
    position: absolute;
    z-index: 100;
    margin-top: -18.6%;
    margin-left: 23%;

}